body {
    background-color: #fef9e7;
    font-family: Arial;
    padding: 45px;
}

h1 {
    color: #d68910;
    font-size: 48px;
    text-align: center;
}

p {
    color: #7d6608;
    font-size: 21px;
    margin: 25px 0;
    padding: 15px;
    background-color: white;
    border-left: 5px solid #d68910;
}

img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}